body {
    overflow: hidden;
    margin: 0;
}

img {
    margin-left: 50%;
    transform: translateX(-50%);
}

section {
    display: flex;
    flex-direction: column;
}

fieldset {
    display: flex;
    flex-direction: column;
}

button:hover {
    background: red;
    color: white;
    cursor: pointer;
    /* box-shadow: inset 0px 3px black; */
}

#new, img {
    margin-bottom: 30px;
}

.version {
    position: absolute;
    top: 96%;
    left: 95%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hide {
    display: none;
}

.show {
    display: inline;
}

.level-area {
    width: 100%;
    height: 60vh;
    border: 1px solid black;
    overflow: auto;
}

.ui-button {
    width: 35%;
    margin: 0 auto;
    padding: 20px;
    background: white;
    border-radius:40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
    box-shadow: 0px 3px;
}

.ui-tab {
    width: 10vw;
    height: 25px;
    transform: skew(-20deg);
    background: teal;
    border: 0 1px 0 0;
    border-color: white;
}

.ui-tab:not(.first) {
    margin-left: -7px;
}